@import "react-slideshow-image/dist/styles.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


.hero {
  height: 7rem;
  width: 100%;

}

.home-hero {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.70) 100%), url('https://res.cloudinary.com/dbeq8dpkz/image/upload/v1689854812/Brown%20master/brown-min_hwxccv.webp'), lightgray -27.174px -205px / 102.733% 192.045% no-repeat;
}

.bg-grey {
  background: lightgrey;

}

.img-slider {
  position: relative;
}

.slide-img {
  width: 100%;
  max-height: 80vh;
  object-fit: cover;
  object-position: top;
}

.img-caption {
  position: absolute;
  font-size: 1.4rem;
  bottom: 4.3rem;

  right: 50%;
  transform: translate(50%,0);
  width: 100%;
  text-align: center;
  background-color: hsla(0, 0%, 10%, 0.364);
  padding: .7rem 1rem ;
  font-weight: 700;
  color: white;
}
.program-link{
  position: absolute;
  bottom: .7rem;
  right: 50%;
  transform: translate(50%,0);
}
.title{
  @apply font-bold text-center text-lg my-2 ;
}

.program-img{
  max-height: 70vh;
  width: 100%;
  object-fit: cover;
  object-position: top;
}